<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Utilisateurs</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="ion-margin"><strong>Listes des Utilisateurs</strong></p>
  <ion-fab horizontal="end" slot="fixed">
    <ion-fab-button (click)="goToAdd()" color="tertiary" size="small">
      <ion-icon name="person-add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-raw>
    <ion-col size-md="6" offset-md="3">
      <ion-list>
        <ion-item
          *ngFor="let utilisateur of tabUtilisateurs"
          [routerLink]="['detail-user', utilisateur.id]"
        >
          <ion-avatar slot="start">
            <ion-img [src]="utilisateur.avatar"></ion-img>
          </ion-avatar>
          <ion-label>
            {{utilisateur.nom}} {{utilisateur.prenom}}:
            <strong>{{utilisateur.role}}</strong></ion-label
          >
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-raw>
</ion-content>
