<ion-header>
  <ion-toolbar color="medium">
    <ion-title>Ajouter un utilisateur</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-margin">
    <form #users="ngForm" (ngSubmit)="onSubmit(users.value)">
      <ion-icon name="person-outline"></ion-icon>
      <label for="nom">Nom</label>
      <input ngModel type="text" class="form-control" name="nom" id="nom" />
      <ion-icon name="person-outline"></ion-icon>
      <label for="prenom">Prénom</label>

      <input
        ngModel
        type="text"
        class="form-control"
        name="prenom"
        id="prenom"
      />
      <ion-icon name="call-outline"></ion-icon>
      <label for="telephone">Téléphone</label>

      <input
        ngModel
        type="text"
        class="form-control"
        name="telephone"
        id="telephone"
      />
      <ion-icon name="camera-outline"></ion-icon>
      <label for="avatar">Avatar</label>
      <input
        ngModel
        type="text"
        class="form-control"
        name="avatar"
        id="avatar"
      />
      <ion-icon name="mail-open-outline"></ion-icon>
      <label for="email">Adresse mail</label>
      <input ngModel type="text" class="form-control" name="email" id="email" />
      <ion-icon name="bag-check-outline"></ion-icon>
      <label for="password">Password</label>
      <input
        ngModel
        type="password"
        class="form-control"
        name="password"
        id="password"
      />
      <ion-icon name="home-outline"></ion-icon>
      <label for="adresse">Adresse</label>
      <input
        ngModel
        type="text"
        class="form-control"
        name="adresse"
        id="adresse"
      />
      <ion-icon name="person-outline"></ion-icon>
      <label>Rôle</label>
      <ion-select
        interface="popover"
        ngModel
        type="text"
        class="form-control"
        name="role"
        id="role"
      >
        <ion-select-option value="admin">Administrateur</ion-select-option>
        <ion-select-option value="vendeur">Vendeur</ion-select-option>
        <ion-select-option value="acheteur">Acheteur</ion-select-option>
      </ion-select>
      <br /><br />
      <ion-button color="medium" type="submit" expand="block"
        >Ajouter</ion-button
      >
    </form>
  </div>
</ion-content>
