/* .bg-img {
    --background: url('../../assets/images/bac.jpg') no-repeat center center/cover;
  } */
  .bg-img {
    --background: url('../../assets/images/d.jpg') no-repeat center center/cover;
  }
  ion-header{
    height: 120px;
  }
  ion-toolbar{height: 120px;}